html {
    background: #FFF;
    color: #000;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

li { list-style: none; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

pre, form {
    font-style: normal;
    font-weight: normal;
}

fieldset { border: 0; }

legend { color: #000; }

input, textarea {
    font-family: inherit;
    font-size: 100%;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

p, blockquote {
    margin: 0;
    padding: 0;
}

th {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: left;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img { border: 0; }

address {
    font-style: normal;
    font-weight: normal;
}

caption {
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

cite, dfn, em, strong, var {
    font-style: normal;
    font-weight: normal;
}

q:before, q:after { content: ''; }

abbr, acronym {
    border: 0;
    font-variant: normal;
}

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

select {
    font-family: inherit;
    font-size: 100%;
    font-size: inherit;
    font-weight: inherit;
}

.hidden { display: none !important; }

div.field_with_errors { display: inline !important; }

input, textarea, div.editable {
    outline-style: none;
    outline-width: 0px;
}

a:active { outline: none; }

html {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
}

body { padding: 1%; }

#ati-switcher-v2, #header .bar, #header .main .tabs, #sub-header .buttons, #sub-header .breadcrumb, p.quick-search, #page-info, table.tickets tbody tr td.bulk, table.tickets tfoot, table.tickets thead tr td.bulk, #search_help, form#quick-ticket, #keyboard_shortcuts, #footer, span.tip, tr.mark_as_billed, .right, .mark_billed input, td.controls a, .user img, .avatar, .tools, .new-update, #markdown_help, .save-search, ul.links, h2 span.sub-link, .pagination, .dashboard-rss, .projects #sub-header h2, .icon, #flash-notice { display: none; }

#header .main h1, #header .main h1 a {
    background: none !important;
    border: none !important;
    color: #005699;
    font-size: 180%;
    font-weight: 700;
    text-decoration: none;
    text-shadow: none;
}

#sub-header h2 {
    font-size: 130%;
    margin-top: 20px;
}

table {
    margin: 20px 0px 0px 0px;
    width: 100%;
}

table td {
    border-left: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
}

table thead {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    padding: 5px;
    vertical-align: middle;
}

table thead a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

table thead tr, table tbody tr.e { background: #f7f7f7; }

table tbody a {
    color: #000;
    text-decoration: none;
}

.repositories #sub-header, .repositories ul.branch-bar, .repositories .stats, .repositories .avatar, .repositories .gravatar { display: none; }

.repositories td { border: none; }

.repositories #content .left .commit .comments:before {
    content: "Comments";
    font-size: 23px;
    font-weight: bold;
}

.repositories #content .left .commit .comments { margin: 20px 0px 0px 0px; }

.repositories #content .left .commit .comments li.comment {
    border-left: 4px solid #ccc;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.repositories #content .left .commit .comments li.comment .afm p {
    font-size: 15px;
    margin: 0px 0px 5px 0px;
}

.repositories #content .left .commit .comments li.comment .author {
    color: #ccc;
    padding: 0px 0px 0px 10px;
}

.repositories #content .left .commit .comments li.comment .author a {
    color: #ccc;
    font-size: 110%;
    text-decoration: none;
}

.repositories #content .left .commit .comments .new-comment { display: none; }

.repositories thead td { font-size: 20px; }

.repositories thead td.compare, .repositories tbody td.compare { display: none; }

.repositories tbody td.ref {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-size: 12px;
    margin: 0px 20px 0px 0px;
}

.repositories tbody .timestamp {
    color: #ccc;
    float: left;
    margin: 0px 10px 0px 0px;
}

.repositories tbody tr.comments { display: none; }

.repositories .a { color: green; }

.repositories .d { color: red; }

.repositories ul.files { margin: 20px 0px 20px 0px; }

.repositories ul.files li {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 5px;
}

.repositories ul.files li a {
    color: #000;
    text-decoration: none;
}

.repositories ul.files li .pad {
    display: block;
    float: left;
    padding: 0px 10px 0px 0px;
}

.repositories ul.files li .stat {
    display: block;
    float: right;
}

.repositories .diffs .diff table.viewer { width: 100%; }

.repositories .diffs .diff table.viewer td.code.deletion_line { color: red; }

.repositories .diffs .diff table.viewer td.code.addition_line { color: green; }

.repositories .diffs .diff table.viewer td.code.chunk_info_line { color: #696969; }

.repositories .diffs .diff table.viewer tbody td.code {
    border-left: 1px solid #000;
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-size: 90%;
    width: 100%;
}

.repositories .diffs .diff h4 {
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

.repositories .diffs .diff a {
    color: #000;
    text-decoration: none;
}

.repositories .commit-bar, .repositories .search-bar { display: none; }

.repositories ul.breadcrumb li {
    display: inline;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

.repositories ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
}

.repositories table.browser tbody tr { border-bottom: 1px solid #ccc; }

.repositories table.browser tbody td.icon { display: inline; }

.repositories table.browser .icon {
    display: inline;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
}

.repositories table.browser tbody td.name {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-size: 90%;
}

.repositories table.browser tbody td.date { width: 130px; }

.repositories .tasks:before {
    content: "Tasks";
    font-size: 23px;
    font-weight: bold;
}

.repositories .tasks { margin: 10px 0px 0px 0px; }

.repositories .tasks ul.list { margin-top: 10px; }

.repositories .tasks ul.list li {
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 5px 0px 5px 0px;
}

.repositories .tasks .type {
    float: left;
    font-size: 16px;
    height: 30px;
    margin: 5px 0px 0px 0px;
    width: 130px;
}

.repositories .tasks .type .bug {
    border-left: 4px solid #4a4a4a;
    padding: 5px;
}

.repositories .tasks .type .fixme {
    border-left: 4px solid #a25aa7;
    padding: 5px;
}

.repositories .tasks .type .todo {
    border-left: 4px solid #3298cd;
    padding: 5px;
}

.repositories .tasks .type .optimize {
    border-left: 4px solid #abd547;
    padding: 5px;
}

.repositories .tasks .content {
    float: right;
    margin: 0px 0px 5px 0px;
    width: 470px;
}

.repositories .tasks .content a {
    color: #000;
    font-size: 20px;
    text-decoration: none;
}

table.time_sessions { width: 100%; }

table.time_sessions td.mark_billed, table.time_sessions td.time { border-right: none; }

table.time_sessions td.occurred_on, table.time_sessions td.controls { border-left: none; }

table.time_sessions tr.total, table.time_sessions tr.project {
    background: #DDD;
    font-size: 110%;
    font-weight: 700;
}

table.time_sessions tr.total td, table.time_sessions tr.project td {
    border: 1px solid #ddd;
    padding: 10px 0 10px 5px;
}

table.time_sessions tr.total td:first-of-type, table.time_sessions tr.project td:first-of-type {
    padding-left: 35px;
    text-align: right;
}

table.time_sessions tr.project td { border-bottom: 1px solid #ccc; }

.notebook p { margin-bottom: 10px; }

.notebook h1 {
    font-size: 200% !important;
    font-weight: bold;
}

.notebook h2 {
    font-size: 185% !important;
    font-weight: bold;
}

.notebook h3 {
    font-size: 150%;
    font-weight: bold;
}

.notebook pre {
    background: #efefef;
    border: 1px solid #ccc;
    line-height: 1.5;
    margin-bottom: 1em;
    overflow: auto;
    padding: 6px;
}

.notebook em, .notebook i { font-style: italic; }

.notebook strong, .notebook b { font-weight: bold; }

.notebook p { line-height: 1.5; }

.notebook ul li {
    line-height: 1.5;
    list-style: disc;
    margin-left: 25px;
}

.notebook ol {
    line-height: 1.5;
    margin: 10px 0;
    margin-left: 30px;
}

.notebook ol li { list-style: decimal; }

.notebook h1:first-child, .notebook p:first-child { margin-top: 0 !important; }

.notebook blockquote {
    background: #efefef;
    color: #333;
    font-size: 110%;
    font-style: italic;
    padding: 10px 7px !important;
}

.notebook blockquote p { margin: 10px !important; }

.notebook blockquote p:first-child { margin-top: 0 !important; }

.notebook blockquote p:last-child { margin-bottom: 0 !important; }

.notebook h1, .notebook h2, .notebook h3, .notebook h4, .notebook h5, .notebook h6, .notebook p, .notebook ul, .notebook blockquote {
    background-color: transparent !important;
    background-image: none !important;
    border: 0 !important;
    box-shadow: 0 0 0 #fff !important;
    color: #333 !important;
    margin: 15px 0 !important;
    moz-box-shadow: 0 0 0 #fff !important;
    padding: 0 !important;
    webkit-box-shadow: 0 0 0 #fff !important;
}

.notebook ul li { list-style: disc; }

.notebook ul li a:after { content: " (" attr(href) ")"; }

.dashboard-overview { margin-top: 30px; }

.dashboard-overview ul { overflow: hidden; }

.dashboard-overview ul li.area {
    float: left;
    width: 33%;
}

.dashboard-overview ul li.area h4 {
    border-bottom: 1px solid #dedede;
    color: #666;
    font-weight: bold;
    margin-right: 15px;
    padding: 6px;
    text-transform: uppercase;
}

.dashboard-overview ul li.area h4 a {
    color: #666;
    text-decoration: none;
}

.dashboard-overview ul li.area.tickets { width: 39%; }

.dashboard-overview ul li.area.tickets .spark { float: right; }

.dashboard-overview ul li.area.tickets dl { font-weight: bold; }

.dashboard-overview ul li.area.tickets dl dt {
    clear: left;
    color: #333;
    float: left;
    padding-top: 2px;
    width: 38%;
}

.dashboard-overview ul li.area.tickets dl dt a, .dashboard-overview ul li.area.tickets dl dd a {
    color: #333;
    text-decoration: none;
}

.dashboard-overview ul li.area.tickets dl dd {
    font-size: 120%;
    margin-bottom: 6px;
    margin-left: 42%;
}

.dashboard-overview ul li.area.milestones { width: 33%; }

.dashboard-overview ul li.area.milestones h4 a { font-size: 12px; }

.dashboard-overview ul li.area.milestones dl { margin-top: 5px; }

.dashboard-overview ul li.area.milestones dl dt {
    color: #666;
    float: left;
    font-size: 90%;
    padding-top: 1px;
    width: 20%;
}

.dashboard-overview ul li.area.milestones dl dd {
    margin-bottom: 6px;
    margin-left: 23%;
}

.dashboard-overview ul li.area.milestones dl dd a {
    color: #333;
    text-decoration: none;
}

.dashboard-overview ul li.area.stats { width: 28%; }

.dashboard-overview ul li.area.stats .content { margin-right: 0; }

.dashboard-overview ul li.area.stats ul li {
    background-position: 0 1px;
    background-repeat: no-repeat;
    color: #333;
    font-size: 90%;
    line-height: 1.5;
    margin-bottom: 6px;
}

.dashboard-overview ul li.area.stats ul li:last-child { margin-bottom: 0; }

.dashboard-overview ul li.area .content {
    margin-right: 15px;
    padding: 6px;
}

.feed { margin-top: 20px; }

.feed h2 {
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 130%;
    font-weight: 700;
    margin: 30px 0px 20px 0px;
    padding-bottom: 5px;
}

.feed h2 a {
    color: #333;
    font-size: 100%;
    font-weight: 700;
    text-decoration: none;
}

.feed .events { margin-left: 30px; }

.feed .events li.more { display: none; }

.feed .events li { margin-bottom: 10px; }

.feed .events .gravatar { display: none; }

.feed .events .tab {
    float: left;
    font-weight: bold;
    height: 20px;
    padding-left: 5px;
    text-transform: uppercase;
    width: 85px;
}

.feed .events .author a {
    color: #000;
    float: left;
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
}

.feed .events a {
    color: #000;
    text-decoration: none;
}

.feed .events span.timestamp {
    color: #999;
    font-size: 80%;
    font-style: italic;
}

.feed .events .expansion {
    display: block;
    margin-left: 120px;
    margin-top: 10px;
}

.feed .events li.area-ticket .tab { border-left: 4px solid #82ac31; }

.feed .events li.area-repo .tab { border-left: 4px solid #3b8db8; }

.feed .events li.area-milestone .tab { border-left: 4px solid #f67a00; }

.feed .events li.area-time .tab { border-left: 4px solid #904ed4; }

.feed .events li.area-deploy .tab { border-left: 4px solid #00b5e9; }

.feed .events li.area-discussion .tab { border-left: 4px solid #5d5d5d; }

.feed .events li.area-file .tab { border-left: 4px solid #cb0000; }

.feed .events li.area-notebook .tab { border-left: 4px solid #bd4ba6; }

.milestones h4 a {
    color: #333;
    font-size: 130%;
    font-weight: 700;
    text-decoration: none;
}

.milestones ul.milestones li.root, .milestones ul.milestones li.child {
    border-left: 2px solid #E8E8E8;
    margin-top: 20px;
    padding: 10px 0px 10px 10px;
    padding-top: 5px;
    page-break-inside: avoid;
    position: relative;
}

.milestones ul.milestones li.root .tickets, .milestones ul.milestones li.child .tickets {
    float: right;
    margin: 20px 10px 0px 0px;
}

.milestones ul.milestones li.root .tickets ul, .milestones ul.milestones li.child .tickets ul { margin-bottom: 10px; }

.milestones ul.milestones li.root .tickets ul li, .milestones ul.milestones li.child .tickets ul li {
    float: left;
    margin-left: 10px;
}

.milestones ul.milestones li.root .tickets ul li a, .milestones ul.milestones li.child .tickets ul li a {
    background: #fff;
    color: #999;
    display: block;
    font-size: 70%;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 40px;
}

.milestones ul.milestones li.root .tickets ul li a b, .milestones ul.milestones li.child .tickets ul li a b {
    color: #666;
    display: block;
    font-size: 180%;
    font-weight: bold;
}

.milestones ul.milestones li.root .tickets ul li.add, .milestones ul.milestones li.child .tickets ul li.add { display: none; }

.milestones ul.milestones li.root .tickets ul li.pie, .milestones ul.milestones li.child .tickets ul li.pie { margin: 2px 0px 0px 20px; }

.milestones ul.milestones li.child { margin-left: 40px; }

.milestones ul.milestones dl {
    margin: 0px 0;
    padding: 10px 0;
}

.milestones ul.milestones dl dt {
    float: left;
    font-size: 100%;
    width: 80px;
}

.milestones ul.milestones dl dd {
    margin-bottom: 8px;
    margin-left: 90px;
}

.milestones ul.milestones dl dd a {
    color: #000;
    text-decoration: none;
}

.milestone-view table {
    margin: 10px 0px 30px 0px;
    width: 100%;
}

.milestone-view table td {
    border-left: 1px solid #ccc;
    padding: 5px;
    vertical-align: middle;
}

.milestone-view table tr.project td { display: none; }

.milestone-view table tr.total td {
    border: none;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
}

.milestone-view table thead {
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    padding: 5px;
    vertical-align: middle;
}

.milestone-view table thead a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.milestone-view ul.tabs { display: none; }

.milestone-view ul.areas li { display: block !important; }

.milestone-view ul.areas li.closed, .milestone-view ul.areas li.open { display: none !important; }

.milestone-view ul.areas li.time:before {
    content: "Time Sessions";
    font-size: 120%;
    font-weight: bold;
}

.milestone-view ul.areas li.dependents:before {
    content: "Dependents";
    font-size: 120%;
    font-weight: bold;
}

.milestone-view ul.areas li.dependents table { width: 100%; }

.milestone-view #tab-zone ul.areas li.overview { overflow: hidden; }

.milestone-view #tab-zone ul.areas li.overview p.description {
    font-size: 120%;
    line-height: 1.5;
    margin-bottom: 20px;
}

.milestone-view #tab-zone ul.areas li.overview h5 {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}

.milestone-view #tab-zone ul.areas li.overview .stats {
    background: #efefef;
    float: left;
    width: 45%;
}

.milestone-view #tab-zone ul.areas li.overview .stats .inside { padding: 10px 15px; }

.milestone-view #tab-zone ul.areas li.overview .stats dl dt {
    color: #666;
    float: left;
    font-size: 90%;
    padding: 3px 0;
    padding-top: 4px;
    width: 100px;
}

.milestone-view #tab-zone ul.areas li.overview .stats dl dd {
    background-position: 0 1px;
    background-repeat: no-repeat;
    margin-bottom: 4px;
    margin-left: 110px;
    padding: 3px;
    padding-left: 22px;
}

.milestone-view #tab-zone ul.areas li.overview .stats dl dd a { color: #333; }

.milestone-view #tab-zone ul.areas li.overview .ticket-stats {
    float: right;
    margin-left: 5%;
    margin-top: 5px;
    width: 50%;
}

.milestone-view #tab-zone ul.areas li.overview .ticket-stats .pie { float: left; }

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl {
    float: left;
    margin: 5px 0 0 20px;
}

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl dt {
    color: #444;
    float: left;
    font-weight: bold;
    padding-top: 3px;
    width: 100px;
}

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl dd {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 6px;
    margin-left: 110px;
}

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl dd a {
    color: #333;
    text-decoration: none;
}

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl dt.open { color: #2b94c5; }

.milestone-view #tab-zone ul.areas li.overview .ticket-stats dl dt.closed { color: #999; }

.milestone-view #tab-zone ul.areas li.overview .user-tickets:before {
    content: "Tickets";
    font-size: 120%;
    font-weight: bold;
}

.milestone-view #tab-zone ul.areas li.overview .user-tickets {
    clear: both;
    padding-top: 1em;
}

.milestone-view #tab-zone ul.areas li.overview .user-tickets h5 {
    font-size: 100%;
    margin-top: 10px;
}

.milestone-view #tab-zone ul.areas li.overview .user-tickets .tickets { width: 100%; }

.milestone-view #tab-zone ul.areas li.overview .user-tickets .tickets tbody tr td.subject { width: 60%; }

.global-milestones h3 {
    background: none !important;
    font-size: 150%;
    margin-top: 20px;
}

.global-milestones h3 a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.global-milestones h4 { font-size: 80%; }

.global-milestones ul {
    margin-left: 2%;
    margin-top: 10px;
}

.global-milestones li .dates { font-size: 90%; }

.tickets h3 {
    color: #666;
    font-size: 110%;
    font-weight: bold;
    line-height: 1.5;
}

.tickets h3 span { display: none; }

.tickets ul.properties {
    margin: 10px 0px 0px 0px;
    overflow: auto;
    width: 100%;
}

.tickets ul.properties li {
    background: #E8E8E8;
    border-left: 1px solid #000;
    float: left;
    padding: 1% 2%;
    width: 16%;
}

.tickets ul.properties li b {
    color: #000;
    display: block;
    font-size: 90%;
    font-weight: 700;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.tickets ul.properties li:last-child { width: 15%; }

.tickets ul.sub-properties {
    background: #fafafa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 80%;
    margin: 20px 0px 0px 0px;
    moz-border-radius-bottomleft: 4px;
    moz-border-radius-bottomright: 4px;
    overflow: auto;
    text-align: left;
    webkit-border-bottom-left-radius: 4px;
    webkit-border-bottom-right-radius: 4px;
}

.tickets ul.sub-properties li.milestone a {
    color: #000;
    font-weight: 800;
    text-decoration: none;
}

.tickets ul.sub-properties li.reporter { font-size: 12px; }

.tickets ul.sub-properties li.reporter b {
    color: #000;
    font-size: 90%;
    font-weight: 700;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.tickets .updates ul { margin: 20px 0; }

.tickets .updates ul li.update {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.tickets .updates ul li.update .author {
    background: #e8e8e8;
    color: #666;
    font-size: 90%;
    padding: 6px;
    padding-left: 10px;
}

.tickets .updates ul li.update .author span.number {
    background: #fff;
    color: #666;
    font-weight: bold;
    margin-right: 2px;
    padding: 2px 4px;
}

.tickets .updates ul li.update .author a { color: #666; }

.tickets .updates ul li.update .author .tools {
    float: right;
    padding-top: 2px;
}

.tickets .updates ul li.update .author .tools a { margin-left: 5px; }

.tickets .updates ul li.update .avatar { display: none; }

.tickets .updates ul li.update .inner { margin: 10px 10px 10px 10px; }

.tickets .updates ul li.update .inner .content {
    font-size: 15px;
    margin: 5px 0;
    padding-bottom: 0;
}

.tickets .updates ul li.update .inner .edit { display: none; }

.tickets .updates ul li.update .inner .content .afm { font-size: 10px; }

.tickets .updates ul li.update .inner ul.changes {
    color: #333;
    font-size: 90%;
    line-height: 1.5;
    margin: 5px 0;
    padding-left: 6px;
}

.tickets .updates ul li.update .inner ul.changes li {
    margin-bottom: 4px;
    padding-left: 16px;
}

.tickets .updates ul li.update .inner ul.changes li span, .tickets .updates ul li.update .inner ul.changes li b { font-weight: bold; }