.clear {
    overflow: hidden;
    width: 100%;
}

a.bsbutton {
    background: transparent url('../Images/Buttons/btngrayright.gif') no-repeat scroll top right;
    color: #444;
    display: inline-block;
    font: normal 12px Arial;
    height: 24px;
    overflow: hidden;
    padding-right: 18px;
    text-decoration: none;
}

a.small { font-size: 8px; }

a.bsbutton span {
    background: transparent url('../Images/Buttons/btngrayleft.gif') no-repeat;
    display: block;
    font-weight: bold;
    line-height: 14px;
    padding: 5px 0 5px 18px;
    text-align: center;
}

a.block { display: block !important; }

a.green {
    background: transparent url('../Images/Buttons/btngreenright.gif') no-repeat scroll top right;
    color: #fff;
}

a.green span { background: transparent url('../Images/Buttons/btngreenleft.gif') no-repeat; }

a.red {
    background: transparent url('../Images/Buttons/btnredright.gif') no-repeat scroll top right;
    color: #fff;
}

a.red span { background: transparent url('../Images/Buttons/btnredleft.gif') no-repeat; }

a.blue {
    background: transparent url('../Images/Buttons/btnblueright.gif') no-repeat scroll top right;
    color: #fff;
}

a.blue span { background: transparent url('../Images/Buttons/btnblueleft.gif') no-repeat; }

a.dark {
    background: transparent url('../Images/Buttons/btndarkright.gif') no-repeat scroll top right;
    color: #fff;
}

a.dark span { background: transparent url('../Images/Buttons/btndarkleft.gif') no-repeat; }

a.bsbutton:active {
    background-position: bottom right;
    outline: none;
}

a.bsbutton:active span { background-position: bottom left; }

/*SMALL BUTTONS*/

a.sbtn {
    background: transparent url('../Images/Buttons/approveright.gif') no-repeat scroll top right;
    color: #fff;
    display: inline-block;
    font: normal 10px Arial;
    height: 16px;
    overflow: hidden;
    padding-right: 15px;
    text-decoration: none;
}

a.sbtn span {
    background: transparent url('../Images/Buttons/approve.gif') no-repeat;
    display: block;
    font-weight: bold;
    line-height: 6px;
    padding: 5px 0 5px 6px;
    text-align: center;
}

a.bsred { background: transparent url('../Images/Buttons/deleteright.gif') no-repeat scroll top right; }

a.bsred span { background: transparent url('../Images/Buttons/delete.gif') no-repeat; }

a.bsblue { background: transparent url('../Images/Buttons/passiveright.gif') no-repeat scroll top right; }

a.bsblue span { background: transparent url('../Images/Buttons/passive.gif') no-repeat; }

a.bsdarkblue { background: transparent url('../Images/Buttons/darkblueright.gif') no-repeat scroll top right; }

a.bsdarkblue span { background: transparent url('../Images/Buttons/darkblue.gif') no-repeat; }

a.bsgray { background: transparent url('../Images/Buttons/readright.gif') no-repeat scroll top right; }

a.bsgray span { background: transparent url('../Images/Buttons/read.gif') no-repeat; }

a.sbtn:hover {
    background-position: bottom right;
    outline: none;
}

a.sbtn:hover span { background-position: bottom left; }

.DropPhase { margin-bottom: 12px; }

.butpHase { }