.Text {
    
    border: 1px solid #ccc;
    border-bottom-color: #3399FF;
    
     
    border-bottom-style: solid;
	
    height: 16px;
    padding: 3%;
    width: 150px;
}

#Gridcontainer table td {
    border: 1px white solid;
    font-size: 0.9em;
    padding: 0.3em;
}